<button *ngIf="!link" [type]="type" (click)="this.onClick.emit()"
    class="bg-primary cursor-pointer border-primary border rounded-md inline-flex items-center justify-center py-3 px-7 text-center text-base font-medium text-white hover:bg-opacity-90">
    <span class="pr-[10px]">
        <fa-icon *ngIf="icon === 'plus'" [icon]="'plus'"></fa-icon>
    </span>
    {{label}}
</button>


<a *ngIf="link" [routerLink]="link"
    class="bg-primary cursor-pointer border-primary border rounded-md inline-flex items-center justify-center py-3 px-7 text-center text-base font-medium text-white hover:bg-opacity-90">
    <span class="pr-[10px]">
        <fa-icon *ngIf="icon === 'plus'" [icon]="'plus'"></fa-icon>
    </span>
    {{label}}
</a>