<section class="min-h-screen bg-gray-1 flex justify-center items-center">
    <div class="container">
        <h3 class="text-3xl text-primary-text font-semibold mb-3">{{track.label}}</h3>
        <div class="flex justify-end pb-3">
            <app-button [link]="'/edit-track/'+track.id" [label]="'edit track'" [icon]="'pen'"></app-button>
        </div>
        <div
            class="container h-[50vh] mx-auto rounded-md bg-white border-stroke border p-3 flex gap-x-5 direction-column">
            <div class="flex-1 h-fit">
                <youtube-player (stateChange)="onVideoStateChange($event)"
                    [startSeconds]="track ? track.videos[track.currentVideoIndex].currentTime : 0"
                    [videoId]=" track ? track.videos[track.currentVideoIndex].id : ''" />
                <span class="block text-center text-primary-text text-base text-xl mt-2">{{track ?
                    track.videos[track.currentVideoIndex].title : ''}}</span>
            </div>
            <div class="max-w-[50%] flex flex-col">
                <div class="bg-stroke dark:bg-dark-3 relative h-4 w-full rounded-2xl">
                    <div [style]=" track.progress ? {width:track.progress+'%'} : {}"
                        class="px-2 bg-primary absolute top-0 left-0 flex h-full items-center justify-center rounded-2xl text-xs font-semibold text-white">
                        {{track.progress}}%
                    </div>
                </div>

                <div class="w-full shadow-md rounded-md flex-1 overflow-hidden mt-3">
                    <div class="h-full p-5 overflow-y-auto">
                        <div *ngFor="let video of track?.videos" (click)="moveToVideo(video.id)"
                            class="border-stroke border mb-2 p-3 bg-white flex items-center justify-between cursor-pointer">
                            <div class="flex items-center">
                                <div class="w-24 bg-center aspect-video mr-3"
                                    [ngStyle]="{background:'linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('+video.imgUrl+') center'}">
                                </div>
                                <span>{{video.title}}</span>
                            </div>

                            <fa-icon *ngIf="video.isDone" class="ml-3" [icon]="'check'" size="xl"
                                style="color:#13C296;"></fa-icon>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</section>