<section class="min-h-screen bg-gray-1 flex justify-center items-center">
    <div class="container">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full px-4">
                <div
                    class="relative mx-auto max-w-[525px] overflow-hidden rounded-lg bg-white py-16 px-10 text-center sm:px-12 md:px-[60px] ">
                    <div class="mb-10 text-center md:mb-16">
                        <span class="text-5xl text-primary font-bold">Video Tracker</span>
                    </div>
                    <form (submit)="onSubmit()" [formGroup]="loginFormGroup">
                        <div class="mb-6" *ngIf="!isLogin">
                            <app-input [formRefference]="loginFormGroup" [name]="'fullName'" [placeholder]="'Full Name'"
                                [showErr]="loginFormGroup.controls.fullName.errors && submitted ? loginFormGroup.controls.fullName.errors['required'] && 'Full Name field is required': '' ">
                            </app-input>
                        </div>
                        <div class="mb-6">
                            <app-input [formRefference]="loginFormGroup" [name]="'email'" [placeholder]="'Email'"
                                [showErr]="loginFormGroup.controls.email.errors && submitted ? loginFormGroup.controls.email.errors['required'] ? 'Email field is required': loginFormGroup.controls.email.errors['email'] && 'Invalid email' : ''">
                            </app-input>
                        </div>
                        <div class="mb-6">
                            <app-input [formRefference]="loginFormGroup" [type]="'password'" [name]="'password'" [placeholder]="'Password'"
                                [showErr]="loginFormGroup.controls.password.errors && submitted ? loginFormGroup.controls.password.errors['required'] ? 'Password field is required': loginFormGroup.controls.password.errors['minlength'] && 'Passwrod length should be at least 8 characters' : ''">
                            </app-input>
                        </div>
                        <div class="mb-10">
                            <input type="submit" value="Sign In"
                                class="w-full px-5 py-3 text-base font-medium text-white transition border rounded-md cursor-pointer border-primary bg-primary hover:bg-opacity-90" />
                        </div>
                    </form>
                    <p class="text-base text-light-text" *ngIf="isLogin">
                        <span class="pr-0.5">Not a member yet?</span>
                        <a href="javascript:void(0)" (click)="setLogin()" class="text-primary hover:underline">
                            Sign Up
                        </a>
                    </p>
                    <p class="text-base text-light-text" *ngIf="!isLogin">
                        <a href="javascript:void(0)" (click)="setLogin()" class="text-primary hover:underline">
                            Back to Login
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>