@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    min-height: 100vh;
}

youtube-player iframe{
    width: unset;
    height: 100%;
    aspect-ratio: 16 / 9;
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    youtube-player iframe {
        width: 70%;
        height: unset;
    }
  }